<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Login</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/login.css}">-->
<!--</head>-->
<!--<body>-->
<!--<div th:if="${error}" style="color:red;">-->
<!--    <p th:text="${error}"></p>-->
<!--</div>-->

<!--&lt;!&ndash; Show logout message &ndash;&gt;-->
<!--<div th:if="${message}" style="color:green;">-->
<!--    <p th:text="${message}"></p>-->
<!--</div>-->

<!--<div class="login-container">-->
<!--    <h2>Login to ZChat</h2>-->
<!--    <form   id="usernameForm" th:action="@{/login}" method="post" class="login-form">-->
<!--        <input type="text" id="username" name="username" placeholder="Username" required />-->
<!--        <input type="password"  id="password" name="password" placeholder="Password" required />-->
<!--        <button type="submit">Login</button>-->
<!--    </form>-->

<!--    <div class="register-link">-->
<!--        <p>Don't have an account? <a th:href="@{/register}">Register</a></p>-->
<!--    </div>-->
<!--</div>-->
<!--<script th:src="@{/js/login.js}"></script>-->
<!--</body>-->
<!--</html>-->













<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html xmlns:th="http://www.thymeleaf.org">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <title>Login</title>&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" th:href="@{/css/login.css}" />&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;<h2>Login</h2>&ndash;&gt;-->
<!--&lt;!&ndash;<form action="/login" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" name="username" />&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="password" name="password" />&ndash;&gt;-->
<!--&lt;!&ndash;    <button type="submit">Login</button>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
